src/__pycache__/classes.cpython-311.pyc
src/__pycache__/keywords.cpython-311.pyc
src/__pycache__/__init__.cpython-311.pyc
src/__pycache__/functions.cpython-311.pyc
src/__pycache__/constants.cpython-311.pyc
comparisons/devtrans.py
comparisons/typegreek.js
.gitignore
mock.py